@mixin border-radius($bradius) {
  -webkit-border-radius: $bradius;
  -moz-border-radius: $bradius;
  -ms-border-radius: $bradius;
  border-radius: $bradius;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
  -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
}